.text-center {
  text-align: center;
}
.align-baseline {
  vertical-align: baseline !important;
} // Browser default
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.align-text-bottom {
  vertical-align: text-bottom !important;
}
.align-text-top {
  vertical-align: text-top !important;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.none {
  display: none !important;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}
